{% extends "home/base.html" %}
{% block content %}
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Book</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Book</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="{% url 'create_book' %}" class="btn add-btn"><i class="fa fa-plus"></i> Add Book</a>
                
            </div>
        </div>
    </div>
    
    <div class="row staff-grid-row">
        {% for book in books %}
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
                <div class="profile-img">
                    <img alt="" src="{{book.image.url}}" class="avatar">
                </div>
                <h4 class="user-name m-t-10 mb-0 text-ellipsis">{{book.name}}</h4>
                <h5 class="user-name m-t-10 mb-0 text-ellipsis">{% for author in book.author.all %}
                                                                {{ author.name }}                                                       
                                                                {% endfor %}</h5>

                <div class="small text-muted">Rs {{book.price}}</div>
                <a href="{% url 'read_book' book.id %}" class="btn btn-white btn-sm m-t-10">View</a>
                <a href="{% url 'update_book' book.id %}" class="btn btn-white btn-sm m-t-10">Edit</a>
                <a href="{% url 'delete_book' book.id %}" class="btn btn-white btn-sm m-t-10">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}